/*Partials des pages*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.article {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 2%;
}
.article.title {
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 10px solid rgb(235, 235, 235);
  font-weight: bold;
}
.article.sub_title {
  justify-content: center;
  text-transform: uppercase;
}

.top_title {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.section_photo {
  margin: 10px;
  max-height: 340px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 8%;
  border: 8px solid white;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}

.suivante_new {
  margin: 15px;
  text-align: end;
}
.suivante_new.suivante_new a:link {
  color: white;
  text-decoration: none;
  text-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
}
.suivante_new.suivante_new a:hover {
  color: #fabfca;
  text-decoration: none;
}

.hidden {
  overflow: hidden;
  display: none;
}
.hidden:active {
  overflow: visible;
  display: block;
}

.message404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.message404 > svg {
  margin: 0 10px;
}

.texte404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}

main {
  height: 100%;
  margin-bottom: 60px;
  width: 100%;
}

.cardService {
  height: 100%;
  margin: 10px 0;
}

.heroService {
  color: #fff;
  height: 70px;
  background-image: url("../../assets/imgServiceHero.jpg");
  background-size: cover;
}

.footerService {
  margin-top: 25vh;
}

.acceuil {
  text-align: center;
  margin-top: 100px;
}
.acceuil.temoignage {
  padding-bottom: 10px;
}
.acceuil.service {
  padding-bottom: 10px;
}
.acceuil.new {
  padding-bottom: 10px;
}

.imgIntro {
  width: 500px;
}

.service.offert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .service.offert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*Partials de composantes*/
.card {
  margin: 10px auto 10px;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}
.card:hover {
  scale: 1.03;
}
.card.first {
  border: 6px double #BADBF3;
}
.card .card-body {
  border-radius: 0 0 20px 20px;
}
.card .card-body .card-title {
  padding: 10px 10px 0px 10px;
}
.card .card-body .card-text {
  padding: 10px;
}
.card .card-body.rose {
  background-color: #FDDDe3;
}
.card .card-body.rose:hover {
  background-color: #97cbf0;
  color: #000000;
}
.card .card-body.bleu {
  background-color: #BADBF3;
}
.card .card-body.bleu:hover {
  background-color: #97cbf0;
  color: black;
}
.card .card-body.vert {
  background-color: #EAFDE0;
}
.card .card-body.vert:hover {
  background-color: #d4fbc0;
  color: black;
}

button {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  border: none;
  background-color: #D1CBE4;
}
button.buttonLangue {
  background-color: #FDDDe3;
}
button.plus {
  margin: 10px;
  padding: 10px;
}
button.button_service {
  background-color: #fabfca;
  border-radius: 40px;
  padding: 10px;
  position: relative;
  margin: 20px;
}
button.button_service:hover {
  background-color: #FDDDe3;
  color: #000;
}

.buttonspace {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .buttonDonateFoot {
    margin-top: 25%;
  }
}
@media screen and (max-width: 576px) {
  .buttonDonateFoot {
    margin: 35px 0 35px 0;
  }
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle span.icon-bar {
  transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.main-container {
  color: #f1eff5;
  z-index: 1;
  position: relative;
}

.first-container, .second-container, .propos-container, .equipe-container, .faq-container {
  cursor: pointer;
  position: relative;
}
.first-container h1, .second-container h1, .propos-container h1, .equipe-container h1, .faq-container h1 {
  position: relative;
  letter-spacing: 2px;
  font-size: 5vw;
}

.share {
  margin-bottom: 15px;
}

span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.share:hover > h1 > span:nth-child(1):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}
.share:hover > h1 > span:nth-child(1):after .share:hover > h1 > span:nth-child(1) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 150ms;
}

.share:hover > h1 > span:nth-child(2):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}
.share:hover > h1 > span:nth-child(2):after .share:hover > h1 > span:nth-child(2) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 300ms;
}

.share:hover > h1 > span:nth-child(3):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}
.share:hover > h1 > span:nth-child(3):after .share:hover > h1 > span:nth-child(3) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 450ms;
}

.share:hover > h1 > span:nth-child(4):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}
.share:hover > h1 > span:nth-child(4):after .share:hover > h1 > span:nth-child(4) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 600ms;
}

.share:hover > h1 > span:nth-child(5):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}
.share:hover > h1 > span:nth-child(5):after .share:hover > h1 > span:nth-child(5) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 750ms;
}

.share:hover > h1 > span:nth-child(6):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}
.share:hover > h1 > span:nth-child(6):after .share:hover > h1 > span:nth-child(6) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 900ms;
}

.share:hover > h1 > span:nth-child(7):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}
.share:hover > h1 > span:nth-child(7):after .share:hover > h1 > span:nth-child(7) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1050ms;
}

.share:hover > h1 > span:nth-child(8):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}
.share:hover > h1 > span:nth-child(8):after .share:hover > h1 > span:nth-child(8) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1200ms;
}

.share:hover > h1 > span:nth-child(9):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}
.share:hover > h1 > span:nth-child(9):after .share:hover > h1 > span:nth-child(9) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1350ms;
}

.share:hover > h1 > span:nth-child(10):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}
.share:hover > h1 > span:nth-child(10):after .share:hover > h1 > span:nth-child(10) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1500ms;
}

.share:hover > h1 > span:nth-child(11):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1100ms;
  transform: rotate(25deg);
}
.share:hover > h1 > span:nth-child(11):after .share:hover > h1 > span:nth-child(11) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1650ms;
}

.share:hover > h1 > span:nth-child(12):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1200ms;
  transform: rotate(30deg);
}
.share:hover > h1 > span:nth-child(12):after .share:hover > h1 > span:nth-child(12) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1800ms;
}

.share:hover > h1 > span:nth-child(13):after {
  background: #ae9dc7;
  opacity: 70%;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1300ms;
  transform: rotate(35deg);
}
.share:hover > h1 > span:nth-child(13):after .share:hover > h1 > span:nth-child(13) {
  color: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition-delay: 1950ms;
}

.hero {
  width: 100%;
  margin-bottom: 6%;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  background-image: url("https://images.unsplash.com/photo-1624087180397-67cf99a7acba?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  font-family: "Nunito";
  text-align: center;
  border-radius: 5px;
}

.cardEquipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0% 0% 10% 10%;
  width: 100%;
}
.cardEquipe.rose {
  background-color: #fddde3;
}
.cardEquipe.bleu {
  background-color: #badbf3;
}
.cardEquipe.bleu .modal .modal-footer {
  background-color: #fff;
}
.cardEquipe.bleu .modal .modal-footer button {
  background-color: #fff;
  color: #000;
}
.cardEquipe.vert {
  background-color: #eafde0;
}
.cardEquipe button {
  align-self: center;
  background-color: #fff;
  color: #000;
}

.containCaroussel {
  height: 60vh;
  width: 60vh;
  padding: 45px 0;
}

.swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: 0.7s;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5);
}

.accordion-button {
  color: #cf8290;
  text-align: left;
  background-color: #FDDDe3;
}
.accordion-button:not(.collapsed) {
  color: #6086a1;
  background-color: #BADBF3;
}

.accordion-body {
  color: #87abc5;
  background-color: aliceblue;
}

.warning {
  padding: 5px 0 5px 0;
  width: 100%;
  text-align: center;
  background-color: #ae9dc7;
  border-radius: 0 0 5px 5px;
}
.warning.deactiver {
  display: none;
}

.warning h4 a {
  color: #ebebeb;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: rgb(209, 200, 228);
  background: linear-gradient(0deg, rgb(209, 200, 228) 0%, rgb(255, 255, 255) 50%, rgb(209, 200, 228) 100%);
  font-family: "nunito";
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
}

nav {
  padding-top: 5px;
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #D1C8E4;
  color: white;
  text-align: center;
  box-shadow: 0px -5px 5px 2px rgba(0, 0, 0, 0.139);
  margin-top: 200px;
}
footer .shadow {
  text-shadow: 2px 2px black;
}
footer .logo {
  width: 20%;
  position: relative;
  top: 100px;
  left: 40%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 50%;
}
footer .logo img {
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  z-index: -1;
}
footer button {
  background-color: #EAFDE0; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: 150px;
  height: 38px;
  font-size: 16px;
  font-family: "nunito";
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}
footer .sponsor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  margin: 10px 5px;
}
footer .sponsor .commandite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .sponsor img {
  flex-wrap: wrap;
  width: 134px;
  height: 57px;
}
footer .sponsor p {
  text-shadow: 1px 1px 8px black;
  font-size: 24px;
}
footer .contact {
  margin: 10px 5px;
  text-align: left;
  text-emphasis: center;
  text-shadow: 1px 1px 7px black;
}
footer .contact img {
  width: 50px;
  height: 50px;
}
footer .contact a {
  color: #ffffff;
}
footer .contact h1 {
  text-shadow: 1px 1px 8px black;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  footer .contact p {
    text-align: center;
  }
}
footer .mention {
  margin-right: 10px;
  position: static;
  bottom: 0;
  right: 0;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: -3;
  grid-column-end: -1;
  text-align: end;
  font-size: 14px;
}

.message404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.message404 > svg {
  margin: 0 10px;
}

.texte404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}

main {
  height: 100%;
  margin-bottom: 60px;
  width: 100%;
}

.mission h1 {
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.mission p {
  margin-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.mission .info {
  background-color: rgb(255, 255, 255), 255, 0.521;
  background-color: rgba(255, 255, 255, 0.4784313725);
  font-size: "nunito";
  padding: 20px;
  border-radius: 5px;
}

.francois {
  text-align: center;
  margin-top: 100px;
}
.francois h1 {
  margin-top: 30px;
  padding-bottom: 10px;
}

iframe {
  border-radius: 10px;
}

.reseaux {
  display: flex;
  justify-content: center;
}
.reseaux i {
  margin: 10px;
}

/*timeline pour Histoire*/
/*Section timeline pour histoire*/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  box-shadow: 4px 13px 30px 1px #cdc2e3;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #ae9dc7;
  width: 80px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
  height: fit-content;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

@media screen and (max-width: 768px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 375px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}/*# sourceMappingURL=style.css.map */