/*Partials des pages*/
@use "partials/nouvelles";
@use "partials/hub_nouvelle";
@use "partials/erreur";
@use "partials/hub_services";
@use "partials/acceuil";
/*Partials de composantes*/
@use "partials/card";
@use "partials/button";
@use "partials/hero";
@use "partials/employe";
@use "partials/description";
@use "partials/caroussel";
@use "partials/arcordeon";
@use "partials/avertissement";
//body
body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background: rgb(209,200,228);
    background: linear-gradient(0deg, rgba(209,200,228,1) 0%, rgba(255,255,255,1) 50%, rgba(209,200,228,1) 100%);
    font-family: 'nunito';
}
//titre 4
h4{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}
// menu navigateur
nav{
    padding-top: 5px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    
}
//footer
footer{     
    //display: grid;
    //grid-template-columns: minmax(375px, 1fr) 1fr 1fr;
    //grid-template-rows:25% 25% 25% 25% ;
    background-color: #D1C8E4;
    color: white;
    text-align: center;
    box-shadow: 0px -5px 5px 2px rgba(0, 0, 0, 0.139);
   margin-top: 200px;
   //effet shadow
    .shadow{
        text-shadow: 2px 2px black;
       
    }
//logo footer
    .logo{
      display: flex;
      justify-content: center;
        border-radius: 50%;
        
      
        img{
          width: 25%;         
            padding: 10px;
            border-radius: 50%;
            z-index: -1;
        
      }
    }

  //bouton don
    button{
       
            background-color: #EAFDE0; /* Green */
            border: none;
            color: rgb(0, 0, 0);
            padding: 5px;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            width: 150px;
            height: 38px;
            font-size: 16px;
            font-family: "nunito";
            text-transform: uppercase;
            border-radius: 10px;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24) ; 
    }
    //section sponso footer
    .sponsor{
       
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        width: 100%;
        margin: 10px 5px;
        .commandite{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
         
        }
        img{
          
            flex-wrap: wrap;
            width: 134px;
            height: 57px;
        }

        p{
            text-shadow: 1px 1px 8px  black; 
            font-size: 24px;
           
        }
    }
    //section contact footer
    .contact{
       margin: 10px 5px;
       text-align: left;
       text-emphasis: center;
       text-shadow: 1px 1px 7px  black;
         img{
         width: 50px;
         height: 50px;

        }
     a{
        color: #ffffff;
     }
       h1{
        text-shadow: 1px 1px 8px  black;
        font-size: 24px;
        text-align: center;
       }
    }
    @media screen and (max-width: 576px)  {
        .contact{ 
            p{
            text-align: center;
        } 
         } 
         .logo{
      
          border-radius: 50%;
          
        
          img{
            width: 40%;         
              padding: 10px;
              border-radius: 50%;
              z-index: -1;
          
        }
      }
  
    }
   
    .mention{
        margin-right: 10px;
        position:static;
        bottom: 0;
        right: 0;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: -3;
        grid-column-end: -1;
        text-align: end;
        font-size: 14px;
    }
}

// page erreur  404
.message404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.message404 > svg{
    margin: 0 10px;
    
}

.texte404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

//main
main{
    height: 100%;
    margin-bottom: 60px;
    width: 100%;

}

//page mission
.mission{
    h1{
       
        padding-bottom:2px;
        margin-bottom: 0px;
    }
    p {
        margin-top: 0px;
        padding-bottom:40px;
        margin-bottom: 0px; 
    }
.info{

    @include description.text;
    background-color: #ffffff7a;
    font-size: 'nunito';
    padding: 20px;
    border-radius: 5px;
}
}
// page mission section francois belle feuille 
.francois{
    text-align: center;
    margin-top: 100px;
    h1{
        margin-top: 30px;
        padding-bottom: 10px;

    }


}

//footer icon réseaux section
iframe {
    border-radius: 10px ;
   
}
.reseaux{
    display:flex;
    justify-content: center;
    i{
           margin: 10px;
    }
 
}


/*timeline pour Histoire*/
/*Section timeline pour histoire*/
// style
.timeline {
    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 6px;
        margin: 0 auto;
        padding-top: 50px;
        background: #fff;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) rotate(45deg);
          width: 20px;
          height: 20px;
          z-index: 2;
          background: #eee;
        }
        div {
          position: relative;
          bottom: 0;
          width: 400px;
          padding: 20px;
  
          box-shadow: 4px 13px 30px 1px #cdc2e3;
          border-radius: 5px;
          display: flex;
          align-items: center;
          time {
            position: absolute;
            background: #ae9dc7;
            width: 80px;
            height: 30px;
            top: -15px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
          }
          div {
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
              text-align: center;
            }
          }
          .discovery {
            margin-right: 10px;
            height: fit-content;
          }
          h1{
            text-align: center;
          }
        
        }
        &:nth-of-type(odd) {
          > div {
            left: 45px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -439px;
          }
        }
      }
    }
  }
  //Section timeline pour histoire breakpoint md
  @media screen and (max-width: 768px) {
    .timeline {
      ul {
        li {
          div {
            width: 250px;
            flex-direction: column;
            div {
              width: 80%;
              margin: 10px;
            }
          }
          &:nth-of-type(even) {
            > div {
              left: -289px;
            }
          }
        }
      }
    }
  }
    //Section timeline pour histoire breakpoint sm
  @media screen and (max-width: 375px) {

    .timeline {
      ul {
        li {
          margin-left: 20px;
          div {
            width: calc(100vw - 91px);
          }
          &:nth-of-type(even) {
            > div {
              left: 45px;
            }
          }
        }
      }
    }
  }