/*Partials des pages*/
.article {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 2%;
}
.article.title {
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 10px solid rgb(235, 235, 235);
  font-weight: bold;
}
.article.sub_title {
  justify-content: center;
  text-transform: uppercase;
}

.top_title {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.section_photo {
  margin: 10px;
  max-height: 340px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 8%;
  border: 8px solid white;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
  overflow: hidden;
  display: none;
}
.hidden:active {
  overflow: visible;
  display: block;
}

.message404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.message404 > svg {
  margin: 0 10px;
}

.texte404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}

main {
  height: 100%;
  margin-bottom: 60px;
  width: 100%;
}

.cardService {
  margin: 0 5px 0 5px;
}
.cardService img {
  margin-top: 15px;
}
.cardService.rose {
  background-color: #FDDDe3;
}
.cardService.rose:hover {
  background-color: #fabfca;
  color: black;
}
.cardService.bleu {
  background-color: #BADBF3;
}
.cardService.bleu:hover {
  background-color: #97cbf0;
  color: black;
}
.cardService.vert {
  background-color: #EAFDE0;
}
.cardService.vert:hover {
  background-color: #d4fbc0;
  color: black;
}

.heroService {
  color: #ffffff;
  height: 70px;
  background-image: url("../../assets/imgServiceHero.jpg");
  background-size: cover;
}

.footerService {
  margin-top: 25vh;
}

/*Partials de composantes*/
.card {
  margin: 10px auto 10px;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0% 0% 8% 8%;
}
.card.first {
  color: aliceblue;
}

.card-body {
  border-radius: 0% 0% 10% 10%;
}
.card-body.rose {
  background-color: #FDDDe3;
}
.card-body.rose:hover {
  background-color: #fabfca;
  color: black;
}
.card-body.bleu {
  background-color: #BADBF3;
}
.card-body.bleu:hover {
  background-color: #97cbf0;
  color: black;
}
.card-body.vert {
  background-color: #EAFDE0;
}
.card-body.vert:hover {
  background-color: #d4fbc0;
  color: black;
}

button {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  border: none;
  background-color: #D1CBE4;
}
button.buttonDonate {
  margin: 1px;
  background-color: #EAFDE0;
}
button.buttonLangue {
  background-color: #FDDDe3;
}

.buttonspace {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle span.icon-bar {
  transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.hero {
  width: 100%;
  margin-bottom: 6%;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: rgb(209, 200, 228);
  background: linear-gradient(0deg, rgb(209, 200, 228) 0%, rgb(255, 255, 255) 50%, rgb(209, 200, 228) 100%);
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
}

nav {
  padding-top: 5px;
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #D1C8E4;
  color: white;
  text-align: center;
  box-shadow: 0px -5px 5px 2px rgba(0, 0, 0, 0.139);
}
footer .shadow {
  text-shadow: 2px 2px black;
}
footer .logo {
  width: 20%;
  position: relative;
  top: -30px;
  left: 45%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #D1C8E4;
  border-radius: 50%;
  box-shadow: 0px -5px 5px -4px rgba(0, 0, 0, 0.091);
}
footer .logo img {
  background-color: #D1C8E4;
  padding: 10px;
  border-radius: 50%;
  z-index: -1;
}
footer button {
  background-color: #EAFDE0; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: 150px;
  height: 38px;
  font-size: 16px;
  font-family: "nunito";
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}
footer .sponsor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  margin: 10px 5px;
}
footer .sponsor .commandite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
footer .sponsor img {
  flex-wrap: wrap;
  width: 134px;
  height: 57px;
}
footer .sponsor p {
  text-shadow: 1px 1px 8px black;
  font-size: 24px;
}
footer .contact {
  margin: 10px 5px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 3;
  text-align: left;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  text-shadow: 1px 1px 7px black;
}
footer .contact a {
  color: #ffffff;
}
footer .contact h1 {
  text-shadow: 1px 1px 8px black;
  font-size: 24px;
  text-align: center;
}
footer .mention {
  margin-right: 10px;
  position: static;
  bottom: 0;
  right: 0;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: -3;
  grid-column-end: -1;
  text-align: end;
  font-size: 14px;
}

.warning {
  padding: 5px 0 5px 0;
  width: 100%;
  text-align: center;
  background-color: #ae9dc7;
  border-radius: 0 0 5px 5px;
}

.warning h4 a {
  color: #ebebeb;
}

.message404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.message404 > svg {
  margin: 0 10px;
}

.texte404 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}

main {
  height: 100%;
  margin-bottom: 60px;
  width: 100%;
  /*display: flex;
  justify-content: center;
  text-align: left;*/
}

.mission {
  width: 100%;
  margin-bottom: 6%;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  background-image: url(https://impatients.ca/wp-content/uploads/2020/04/st-lambert-6avril-2022cfrederique-menard-aubin-4570-e1689883408711.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  background-color: rgb(255, 255, 255), 255, 0.521;
  background-color: rgba(255, 255, 255, 0.5725490196);
  font-weight: bolder;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */