//section de la page acceuil
.acceuil {
    text-align: center;
    margin-top: 100px;
//section de la page acceuil temoignage
    &.temoignage{
        padding-bottom: 10px;
    }
    //section de la page acceuil service
    &.service{
        padding-bottom: 10px;
    }
    //section de la page acceuil new
    &.new{
        padding-bottom: 10px;
    }
}
//img avant plan acceuil
.imgIntro{
    width: 100%;
}
//section de la page acceuil service contenu
.service.offert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}
   @media (max-width: 576px) { 
        .service.offert { 
            display: flex;
            flex-direction: column;
            align-items: center;
         } 
      }
