.acceuil {
    text-align: center;
    margin-top: 100px;
    &.temoignage{
        padding-bottom: 10px;
    }
    &.service{
        padding-bottom: 10px;
    }
    &.new{
        padding-bottom: 10px;
    }
}

.imgIntro{
    width: 500px;
}

.service.offert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}
   @media (max-width: 576px) { 
        .service.offert { 
            display: flex;
            flex-direction: column;
            align-items: center;
         } 
      }
