.acceuil {
    text-align: center;
    margin-top: 100px;
    &.temoignage{
        padding-bottom: 10px;
    }
    &.service{
        padding-bottom: 10px;
    }
    &.new{
        padding-bottom: 10px;
    }
}

