.warning{
    padding: 5px 0 5px 0;
    width: 100%;
    text-align: center;
    background-color: #ae9dc7;
    border-radius: 0 0 5px 5px;
    &.deactiver{
        display:none;
    }
}

.warning h4 a{
    color: #ebebeb;
}