button{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    border: none;
    background-color:#D1CBE4;
   
    &.buttonDonate{
       margin: 1px;
       background-color:#EAFDE0;
    }
    &.buttonLangue{
        background-color:#FDDDe3;
     }
 }

 
.buttonspace{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}

