button{
    //bouton par defaut
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    border: none;
    background-color:#D1CBE4;
   
    
    &.buttonLangue{
        //bouton langue
        background-color:#FDDDe3;
     }
     &.plus{
        //bouton langue
        margin: 10px;
        padding: 10px;
     }
     &.button_service{
        //bouton service
        background-color:#fabfca;
        border-radius: 40px;
        padding: 10px;
        position: relative;
        margin: 20px ;
    
       
        &:hover{
            background-color: #FDDDe3;
            color: #000000;
        }
     }
 }

 
.buttonspace{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    
}
@media screen and (min-width: 576px)  {
    .buttonDonateFoot{
        //bouton donation
        margin-top: 25%;
    }
}
@media screen and (max-width: 576px)  {
    .buttonDonateFoot{
        //bouton donation
        margin: 35px 0 35px 0;
    }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}
