.caroussel{
    height: 100%;
    width: 100%;
    margin: 40px 0;
    padding: 45px 0;
}
.swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
}
