.card {
    margin: 10px auto 10px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
    
}


.card-body {
   
    &.rose {
        background-color: #FDDDe3;
      }
      &.bleu {
        background-color: #BADBF3;
      }
      &.vert {
        background-color: #EAFDE0;
      }
}