.card {
    margin: 10px auto 10px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    &:hover{
       scale: 1.03; 
    }
    &.first {
        border: 6px  double #BADBF3;

    }

    .card-body {
        border-radius: 0 0 20px 20px;

        .card-title {
            padding: 10px 10px 0px 10px;
        }

        .card-text {
            padding: 10px;
        }


        &.rose {
            background-color: #FDDDe3;

            &:hover {
                background-color: #fabfca;
                color: #000000;
            }
        }

        &.bleu {
            background-color: #BADBF3;

            &:hover {
                background-color: #97cbf0;
                color: black;
            }
        }

        &.vert {
            background-color: #EAFDE0;

            &:hover {
                background-color: #d4fbc0;
                color: black;
            }
        }
    }

}
