//Inclure le fichiers des Mixins
@use "mixins/variables";
//Code pour les card Équipe
.cardEquipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0% 0% 10% 10%;
  width: 100%;
//Code pour les card Équipe rose
  &.rose {
    background-color: #fddde3;
  }
  //Code pour les card Équipe bleu
  &.bleu {
   .modal {
      .modal-footer {
        @include variables.couleurBGBlanc;
        button {
          @include variables.couleurBGBlanc;
          @include variables.couleurTexteNoir;
        }
      }
    }
    background-color: #badbf3;
  }
//Code pour les card Équipe vert
  &.vert {
    background-color: #eafde0; 
    
  }
//Code pour les card-bouton Équipe
  button {
    align-self: center;
    @include variables.couleurBGBlanc;
    @include variables.couleurTexteNoir;
  }
}
