//Code pour les carte Équipe
.cardEquipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0% 0% 10% 10%;
  width: 100%;

  &.rose {
    background-color: #fddde3;
  }
  &.bleu {
   .modal {
      .modal-footer {
        background-color: #ffffff;
        button {
          background-color: #ffffff;
          color: #000000;
        }
      }
    }
    background-color: #badbf3;
  }

  &.vert {
    background-color: #eafde0; 
    
  }

  button {
    align-self: center;
    background-color: #ffffff;
    color: #000000;
  }
}
