//Page 404
.message404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
//svg page 404
.message404 > svg{
    margin: 0 10px;
    
}
//texte page 404
.texte404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}
main{
    height: 100%;
    margin-bottom: 60px;
    width: 100%;
}