.message404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.message404 > svg{
    margin: 0 10px;
    
}

.texte404{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}
main{
    height: 100%;
    margin-bottom: 60px;
    width: 100%;
}