.cardService{
    margin: 0 5px 0 5px;
    img{
        margin-top: 15px;
        display: block;
    }
}

.heroService{
    color: #ffffff;
    height:70px;
    background-image: url("../../assets/imgServiceHero.jpg");
}

.footerService{
    margin-top: 25vh;
}
