.cardService{
    padding: 0 0 0 0;
}

.heroService{
    color: #fff;
    height:70px;
    background-image: url("../../assets/imgServiceHero.jpg");
    //background-color: #BADBF3;
    background-size: cover;
}

.footerService{
    margin-top: 25vh;
}