.article {
  
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 2%;
  &.title {
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 10px solid rgba(235, 235, 235, 1);
    font-weight: bold;
    
  }
  &.sub_title {
    justify-content: center;
    text-transform: uppercase;
  }
}
.top_title {
  color:  rgb(255, 255, 255);
  font-style: italic;
  }
  

.section_photo {
    margin: 10px;
    max-height: 340px;
    width: 100%;
    height: 100%; 
    
}
.photo {
    height: 100%; 
    width: 100%;
    border-radius: 8%;
    border: 8px solid white;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  }
