wp-config.php
xmlrpc.php
.htaccess
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
license.txt
wp-admin
wp-includes